/* @import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;700&family=Lato:ital,wght@0,300;1,300&display=swap"); */
.app {
  position: relative;
  width: 1440px;
  height: 1158px;
  background: #ffffff;
}

@media screen and (max-width: 600px) {
  .app {
    width: 375px;
    height: 1088px;
    overflow-y: scroll;
  }
}
